.phone{
    
    height : 350px;
    /* width : 163px; */
    display: flex;
    justify-content: center;
    
    /* align-items: center; */
    /* justify-content: center; */
    /* margin:auto; */
    /* width : 33.3%;  */
    
}

.svg{
    margin: auto;
   
    height : 350px;

    
    /* width :auto; */
}

.outercontainer{
    border : 1px solid red;
    border-radius : 10px;
    height : 350px;
    width : 170px;
    /* position: absolute; */
}
